---
import { CreatePlanetMutationForm } from "../components/orpc-mutation";
import { ListPlanetsQuery } from "../components/orpc-query";
import { EventIteratorQueries } from "../components/orpc-stream";
---

<div>
    <h1>ORPC Playground</h1>
    You can visit the
    <a href="/api">Scalar API Reference</a>
    page.
    <hr />
    <CreatePlanetMutationForm client:only />
    <hr />
    <ListPlanetsQuery client:only />
    <hr />
    <EventIteratorQueries client:only />
</div>